* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #2C2B3D;
    }

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 64px;
}

li a{
    color: #FFF;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 14px;
}

li a {
    text-decoration: none;
}

main, nav {
    display: flex;
    width: 1092px;
    margin: 70px auto;
    justify-content: space-between;
    align-items: center;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

section h1 {
    font-family: 'Jetbrains Mono', sans-serif;
    color: #FFF;
    margin-bottom: 60px;
    font-size: 36px;
}

section span{
    color:#00BFA6;
    font-weight: 700;
}

section p{
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;

}

#line{
    border-top: solid 1px #00BFA6;
    width: 658px;
    margin: auto;
}

footer img{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

footer a {
    text-decoration: none;
}

footer p, a{
    font-family: 'JetBrains Mono', sans-serif;
    color: #FFF;

    margin: 27px auto 0;
    text-align: center;
}